* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.footer {
    background-color: 333333;
    height: 250px;
    width: 1350px;
}

.pesquisa {
    color: gray;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 1350px;
    padding: 10px;
    margin: 10px;
}

.login {
    background-color: orange;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 25px;
}

.banner {
    background-image: url("./assets/banner1.jpg");
    height: 700px;
    width: 1800px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
}

.texto-banner {
    color: #ffffff;
    justify-content: start;
    font-size: 69.9px;

}
.texto-banner-2{
color: #ffffff;
font-size: 14px;
}

 